<%=require 'pdf/writer'%>
<html>
<title>Text to PDF, convert your text to PDF</title>
<body>
<li><a href="http://ruby-pdf.rubyforge.org/pdf-writer/licence.html">License for pdf-writer (pdf converting engine)</a> </li>
<li><a href="mailto:texttopdf@gmail.com">Mail</a> </li>
</body>
</html>